<html>

       <head>

        <link rel="stylesheet" href="../../public/css/bootstrap.css">
       </head>
    <body>
        <p>
            O endereço buscado não existe, será que você não digitou errado?
        </p>
    </body>

    <script type="text/javascript" src="../../public/js/bootstrap.js"></script>


</html>